.App{
    position: relative;
}

.NavContainer{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 300ms ease-in 0s;
}

.SignIn{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 100px;
    background-color: aquamarine;
}

.ToggleGroup{
    background-color: white;   
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.1);
}

.Toggle{
    width: max( 187px, 14vw);
}

.Base{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000vh;
    padding-bottom: 100px;
    background-color: wheat;
}

.NoUser{
    height: 100vh;
    background-color: white;
}