.App{
    position: relative;
    background-color: #EEEFF2;
}

.NavContainer{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.Error{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;
    background-color: #EEEFF2;
}