.CheckOut{
    position: relative;
    padding: 20px; 
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #EEEFF2;
}

.Heading{
    width: 100%;
    margin-bottom: 30px;
    padding-left: 100px;
}

.CheckOutBox{
    display: flex;
    justify-content: space-around;
}
